name = "crafthead-dev"
main = "src/worker/index.ts"
workers_dev = true
compatibility_date = "2025-11-28"
analytics_engine_datasets = [{ binding = "CRAFTHEAD_ANALYTICS" }]

compatibility_flags = ["nodejs_compat"]

rules = [
	{ type = "Data", globs = [
		"**/*.png",
		"!assets/",
	], fallthrough = true },
]

[[r2_buckets]]
binding = "HYTALE_ASSETS"
bucket_name = "hytale-assets"

[vars]
WORKER_ENV = "development"

[assets]
directory = "./src/website"
binding = "ASSETS"
html_handling = "drop-trailing-slash"
not_found_handling = "404-page"
run_worker_first = true

[build]
command = "npm run build" # required

[env.production]
name = "crafthead"
main = "src/worker/index.ts"
route = { pattern = "crafthead.net/*", zone_name = "crafthead.net" }
analytics_engine_datasets = [{ binding = "CRAFTHEAD_ANALYTICS" }]
services = [{ binding = "PLAYERDB", service = "playerdb" }]

[[env.production.r2_buckets]]
binding = "HYTALE_ASSETS"
bucket_name = "hytale-assets"

[env.production.vars]
WORKER_ENV = "production"

[env.production.observability]
enabled = true
traces = { enabled = true }
