html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.friendly-nag {
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    padding: 1rem;
}

.friendly-nag a {
    color: white !important;
}

header {
    background: rgb(37, 33, 33);
    color: white;

    padding: 4rem 0;
    text-align: center;
}

footer {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
}

hr {
    border: 1px solid black;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

a, a:visited {
    color: rgb(37, 33, 33);
}

article {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

#instructions {
    max-width: 900px;
    padding-right: 1rem;
}

#sponsors {
    padding: 0 1rem;
    text-align: center;
}

@media (max-width: 960px) {
    flex-direction: column;

    #instructions {
        padding: 0;
    }

    #sponsors {
        padding: 0;
        padding-right: 1rem;
    }
}

.example {
    background: #eeeeee;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.example img {
    align-self: flex-end;
}

.heads img {
    image-rendering: pixelated;
}

.render-pixelate {
    image-rendering: pixelated;
}

@media screen and (max-width: 600px) {
    .example {
        flex-direction: column-reverse;
    }

    .example code {
        padding: 0.4rem;
        display: block;
    }
}
